<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline"/>
    </layout>
  </appender>
  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <file value="mylogfile.log" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
  <root>
    <level value="All"/>
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="FileAppender" />
  </root>
  <logger name="TestCase1">
    <level value="All" />
    <appender-ref ref="TestCase1Appender" />
  </logger>
  <appender name="TestCase1Appender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="TestCase1Logger.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] %level - %message%newline %exception" />
    </layout>
  </appender>
  <logger name="TestCase2">
    <level value="All" />
    <appender-ref ref="TestCase2Appender" />
  </logger>
  <appender name="TestCase2Appender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="TestCase2Logger.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] %level - %message%newline %exception" />
    </layout>
  </appender>
  <logger name="TestCase3">
    <level value="All" />
    <appender-ref ref="TestCase3Appender" />
  </logger>
  <appender name="TestCase3Appender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="TestCase3Logger.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] %level - %message%newline %exception" />
    </layout>
  </appender>
</log4net>
